/reasonix.toml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/material_theme_project_new.xml
/.reasonix/desktop-topic-titles.json
/.reasonix/desktop-topic-title-sources.json
/.reasonix/desktop-topic-created-at.json
/.idea/CSNETWK-MAGIC-THE-GATHERING.iml
/.idea/.gitignore
/.reasonix/desktop-topic-auto-title-meta.json
/.idea/misc.xml
/mtgnp-prompt.txt
/setup_project.sh
__pycache__/
*.pyc
